body {
    counter-reset: stories;
}

.story h2::before {
    counter-increment: stories;
    content: counter(stories) '. ';
}

.story {
    height: 50px;
    display: flex;
    align-items: center;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
